.header {
}
.header_layout {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  background-color: #ffffff;
}
.header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 0;

  width: 100%;
}
.header_top_left {
  display: flex;
  gap: 10px;
}
.language_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.language {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid #eaeaea;
  overflow: hidden;
  width: 86px;
  height: auto;
  font-size: 13.5px;
  font-weight: 400;
  border-radius: 10px;
}
.language span {
}
.sns {
  display: flex;
  gap: 7px;
}
.header_top_right {
}
.link_site {
  display: flex;
  gap: 5px;
  font-size: 11px;
  color: rgb(155, 154, 154);
}
.header_top_right ul {
}
